<mat-form-field appearance="outline">
    <mat-label
      >URL
      <span class="required" aria-hidden="true">*</span>
    </mat-label>
    <input
      type="text"
      placeholder="URL"
      matInput
      formControlName="url"
      autocomplete="off"
    />
    <mat-error *ngIf="form.controls.url.errors?.required">
     Url is required
    </mat-error>
    <mat-error *ngIf="form.controls.url.errors?.isIdentifierError">
      Ivalid Url
    </mat-error>
  </mat-form-field> 